<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="/static/images/0.png" alt="" srcset="">
    <ul>
        <li><a href="/page/helloworld">/page/helloworld</a></li>
        <li><a href="/page/gd">/page/gd</a></li>
        <li><a href="/page/pd">/page/pd</a></li>
        <li><a href="/page/ck">/page/ck</a></li>
        <li><a href="/page/404">/page/404</a></li>
    </ul>
</body>

</html>